.content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
}
.content:last-child {
    padding-bottom: 1rem;
}

.details {
    max-width: 1440px;
    margin: 0 auto;
}

.container-space {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location h1 {
    color: #ff6060;
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.location p {
    font-size: 1.13rem;
    margin: 0;
}

.host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.hostname {
    width: 75px;
    text-align: center;
}

.profile {
    height: 64px;
    display: block;
    border-radius: 50%;
}
#tags {
    display: flex;
    gap: 10px;
}

.mobile-content {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.tag {
    color: white;
    padding: 0.4rem 0.6rem;
    border-radius: 1.3rem;
    background-color: #ff6060;
}

@media screen and (max-width: 892px) {
    .details {
        width: 100%;
    }
    .content {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }
}
