#footer {
 background: #000;
 color: white;
 display: flex;
 flex-direction: column;
 text-align:center;
 height: 100px;
 justify-content:center;
}


@media only screen and (max-width: 500px){
	#footer p {
	 width: 30%;
	 margin: 0 auto;
	}
}

