#footer {
 padding-top:30px;
 background: #000;
 color: white;
 display: flex;
 flex-direction: column;
 text-align:center;

 justify-content:center;
}

#logo-footer {
    padding:30px;
    display:flex;
    justify-content:center;
}

#footer p {
    display:flex;
    justify-content:center;
    align-items:end;
    font-size: 24px;
}


@media only screen and (max-width: 500px){
	#footer p {
	 width: 30%;
	 margin: 0 auto;
	}
}

