.card {
  background: rgba(255, 96, 96, 1);	
  margin: 15px 15px;
  width: 340px;
  height: 340px;
  border-radius:20px;
  position: relative;
  /*height: 250px;*/
}

.card img {
   /* width: 500px;
    height:300px;*/
    height:340px;
    border-radius:20px;
    position: absolute;
    width: 100%;
    z-index:1;
    object-fit:cover;
}

.card p {
 color:white;
 width: 200px;
 position:relative;
 display: flex;
 flex-direction: column;
 justify-content:end;
 height:90%;
 margin-left:20px;
 font-weight:bold;
 text-shadow: 2px 2px 10px black;
 z-index:2;
}

.card a {
    cursor:pointer;
    text-decoration: none;
    display:flex;
    position:absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    z-index:4;
}
/*@media only screen and (min-width: 2160px) and (max-width: 3840px){
	body {background:black;}
}*/
