#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.logo-menu {
    /* background:green;*/
    flex: 1;
}
#nav {
    padding: 30px;
    /*background:blue;*/
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
}

#menu li a:hover {
    border-bottom: 2px solid black;
}

#menu li {
    /* width: 150px; */
    /*display: flex;*/
    /*justify-content: end;*/
}

#menu {
    display: flex;
    gap: 30px;
}

#menu li a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
    font-size: 24px;
}
.active {
    border-bottom: 2px solid black;
}

@media screen and (max-width: 500px) {
    #menu li {
        width: 100%;
        justify-content: start;
    }
    #menu li a {
        font-size: 21px;
        text-transform: uppercase;
    }
    #menu {
        gap: 0px;
    }
    .logo-menu {
        flex: none;
    }
    .logo-menu img {
        height: 45px;
    }

    #nav {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 375px) {
    #menu li a {
        font-size: 18px;
    }
    .logo-menu img {
        height: 40px;
    }
}
